.border{
    border: 2px solid red;
    margin:0px;
}

.flex{
    display:flex;
}

.justify-center{
    justify-content:center;
}

.items-center{
    align-items:center;
}

.rounded{
    border-radius: 7px;
}

.m-1{
    margin:5px;
}

.p-1{
    padding:5px;
}